/************************************************
  XS 500PX
 ************************************************/

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-header: # ;
    --bgd-footer: # ;
}

/* generics */
body{
    font-family: 'Montserrat', sans-serif;
}

/* utilities */
.container {
    margin: 0 auto;
}

.d-flex {
    display: flex;  
}

.debug .border {
    border: 2px dashed black; 
}



 /************************************************
 RESPONSIVE S 576PX
 ************************************************/

 /************************************************
 RESPONSIVE MD 768PX
 ************************************************/

 /************************************************
 RESPONSIVE LG 1200PX
 ************************************************/