/************************************************
  XS 500PX
 ************************************************/

/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --bgd-header: #080B12 ;
    --bgd-footer: #282828 ;
    --bgd-main-navbar: #000000;
    --bgd-main: #141922;
    --font-white: #FFFFFF;
    --font-grey: #7D7F84;
}

/* Generics */
body{
    font-family: 'Montserrat', sans-serif;
}

/* Utilities */

.wrap {
    padding-bottom: 100px;
    padding-left: 60px;
}


.d-flex {
    display: flex;  
}

img {
    max-width: 100%;
}

/* Debug */
.debug .border {
    border: 2px dashed white; 
}

/* main */
.main-content {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

/* main-nav */
.main-nav {
    width: 50px;
    height: 100vh;
    background-color: var(--bgd-main-navbar);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.call-to-action {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
  }

/* Footer */
footer {
    height: 90px;
    background-color: var(--bgd-footer);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


 /************************************************
 RESPONSIVE S 576PX
 ************************************************/
 @media screen and (min-width: 576px) {
 .main-nav {
    width: 230px;
 }

 .wrap {
    padding-left: 250px;
}
 }

 /************************************************
 RESPONSIVE MD 768PX
 ************************************************/
 @media screen and (min-width: 768px) {

 }

 /************************************************
 RESPONSIVE LG 992PX
 ************************************************/
 @media screen and (min-width: 992px) {

 }